@charset "UTF-8";

body{
	background-color: aqua;
	color: cornflowerblue;
}
h1{
	color: blue;
}
@media(min-width: 1024px){
	body{
		background-color: crimson;
		color: aliceblue;
	}
	h1{
		color: cadetblue
	}
}